<!DOCTYPE html>
<html>

<head>
  <title>Location List</title>
  <link rel="stylesheet" href="/css/style.css">
  <script type="module" src="/scripts/LocationListController.mjs" defer></script>
</head>

<body>
  <!-- TODO: Nav bar with menu -->
  <section class="location-list-section">
    <section class="top-bar">
      <span>Search </span>
      <input type="text" name="search" id="filter-location">
    </section>
    <section class="bottom-bar">
    <ul id="location-list">
      <!-- <li>
                <h2>Name</h2>
                <span>State</span>
                <span>0 WHs/day</span>
                <span>N appliances</span>
                <input type="button" value="Stats">
                <input type="button" value="Edit">
                <input type="button" value="Delete">

            </li> -->
    </ul>
    <section class ="bottom-bar">
      <input type="button" value="New" id="create-location">
    </section>
  </section>
  </section>
</body>

</html>