<!DOCTYPE html>
<html>

<head>
  <title>Location stats</title>
  <link rel="stylesheet" href="/css/style.css">
  <script type="module" src="/scripts/LocationStatsController.mjs" defer></script>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">


</head>

<body>
  <!-- TODO: Nav bar with menu -->
  <section class="state-list-section">

    <section class="top-bar">
      <input type="button" value="Back" id="back-button">
      <input type="button" value="Post" id="post-button">
    </section>

    <section id="location-stats-name">
      <h2>Location Name: </h2>
      <p>Energy consumed by source: </p>
    </section>


    <section class="bottom-bar">
    </section>
  </section>
</body>

</html>