<!DOCTYPE html>
<html>

<head>
  <title>Location Edit</title>
  <link rel="stylesheet" href="/css/style.css">
  <script type="module" src="/scripts/LocationEditController.mjs" defer></script>
</head>

<body>
  <section>
    <input type="button" value="Cancel" id="cancel-button">
    <input type="button" value="Save" id="save-location">
  </section>
  <section>
    <span>Location Name: </span> <input type="text" id="location-name">
    <span>Location State: </span> 
    <select id="location-state">
      <!-- <option value="Queensland">Queensland</option> -->
    </select>
  </section>

  <!-- Appliance adding interface -->
  <section>
    <span>Appliance: </span>
    <select id="location-appliance">
      <!-- <option value="Queensland">Queensland</option> -->
    </select>

    <span>Hours: </span> <input type="text" id="location-hours">
    <span>Quantity: </span> <input type="text" id="location-quantity">
    <input type="button" value="Add" id="add-button">
  </section>
  <!-- TODO: Appliance list -->
  <section id="appliance-details">
    <!-- <p></p> -->

  </section>
</body>

</html>